<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
   http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	<bean id="commonJedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
	<property name="maxTotal" value="300" />
	<property name="maxIdle" value="200" />
	<property name="minIdle" value="100" />
	<property name="maxWaitMillis" value="10000" />
	<property name="testOnBorrow" value="false" />
	<property name="testOnReturn" value="false" />
	<property name="testWhileIdle" value="false" />
	<property name="numTestsPerEvictionRun" value="-1" />
	<property name="minEvictableIdleTimeMillis" value="60000" />
	<property name="timeBetweenEvictionRunsMillis" value="30000" />
	</bean>
	<bean id="choumeiShardedJedisPool" class="cn.sdk.cache.BilinShardedJedisPool">
		<constructor-arg index="0" ref="commonJedisPoolConfig" />
		<constructor-arg index="1" value="${redis.user-center.configstr}" />
		<constructor-arg index="2" value="3000" type="int" />
		<constructor-arg index="3" value="${redis.user-center.password}" />
	</bean>
	<bean id="jedisCacheManagerImpl" class="cn.sdk.cache.JedisCacheManagerV20Impl">
		<property name="jedisPool" ref="choumeiShardedJedisPool"></property>
	</bean>
</beans>	   
